.grid-container {
  display: grid;
  width: fit-content;
  height: fit-content;
  grid-template-columns: repeat(var(--colNum), auto);
  background-color: #000000;
  gap: 1px;
  border: 1px solid #000000;
}

.grid-item {
  width: 30px;
  height: 30px;
}

.grid-item-top-clue {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.grid-item-left-clue {
  display: flex;
  background-color: #ffffff;
  justify-content: right;
  align-items: center;
  flex-direction: row;
}
