.grid-item-blank {
  background-color: #000000;
}

.grid-item {
  width: 30px;
  height: 30px;
}

.grid-item-empty-correct {
  background-color: #8f8f8f;
}

.grid-item-filled-correct {
  /* background-color: #8fb6ff; */
  animation: rainbow-bg 2s linear;
  animation-iteration-count: infinite;
}

.grid-item-empty-incorrect {
  background-color: #8f8f8f;
  background: repeating-linear-gradient(
    45deg,
    #8f8f8f,
    #8f8f8f 5px,
    #ff6666 5px,
    #ff6666 10px
  );
}

.grid-item-filled-incorrect {
  background-color: #8fb6ff;
  background: repeating-linear-gradient(
    45deg,
    #8fb6ff,
    #8fb6ff 5px,
    #ff6666 5px,
    #ff6666 10px
  );
}

@keyframes rainbow-bg {
  100%,
  0% {
    background-color: rgb(255, 0, 0);
  }
  8% {
    background-color: rgb(255, 127, 0);
  }
  16% {
    background-color: rgb(255, 255, 0);
  }
  25% {
    background-color: rgb(127, 255, 0);
  }
  33% {
    background-color: rgb(0, 255, 0);
  }
  41% {
    background-color: rgb(0, 255, 127);
  }
  50% {
    background-color: rgb(0, 255, 255);
  }
  58% {
    background-color: rgb(0, 127, 255);
  }
  66% {
    background-color: rgb(0, 0, 255);
  }
  75% {
    background-color: rgb(127, 0, 255);
  }
  83% {
    background-color: rgb(255, 0, 255);
  }
  91% {
    background-color: rgb(255, 0, 127);
  }
}
